.features {
  padding-bottom: 47px;
}

.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__thumb {
  @extend %flex-center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: $card-set-gap;
    }
  }
}

.features__text {
  @include text;
}
