.menu-container {
  width: 480px;
  height: 796px;
  padding: 48px 40px;
}

.mob-nav__list {
}

.mob-nav__link {
  @include text(500, 40px, 1.18, 0.02em, $title-text-color);
  @include trans(color, fill);
  display: block;
  margin-bottom: 32px;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  &.current {
    color: $accent-color;
  }
}

.mob-contacts__link {
  @include text(500, 24px, 1.17, 0.02em, $main-text-color);
  display: block;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-nav__social-list {
}
